body{
    margin-top:10px;
}
#twireless:before, #iewireless:before, #iewired:before #oewireless:before #ovwireless:before #oewired:before{
    display: block; 
    content: " "; 
    margin-top: -85px; 
    height: 85px; 
    visibility: hidden;
}